@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");


          
body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

header {
    max-width: none;
    margin: 0;
    border: none;
    padding: 1rem;
    background-color: #6ba3c0;
    font-size: 3em;
    text-align: center;
}

main {
    background-color: #f5f5f5;
    display: grid;
    grid-template-columns: 1fr;
}

section {
  padding: 0;
  background-color: white;
  margin: 1em;
  border: 1px solid #ccc;
}

p {
    grid-column: 1 / -1;
    font-size: 2em;
    text-align: center;
    background-color: #6ba3c0;
    margin:0px;
}

section div {
  padding: 0;
  margin: 0;
}

section img {
  border: 5px solid white;
  display: block;
  width: 100%;
  height: auto;
}
nav a {
    padding: 20px;
    color: black;
    display: none;
    
    
}
nav a:hover {
    text-decoration: none;
    color: #616061;
}
.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    
}
.bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 5px 0;
}
footer {
    text-align: center;
    background-color: #6ba3c0;
}
          
@media screen and (min-width: 700px) {
    main {
        grid-template-columns: 1fr 1fr;
        background-color: #f5f5f5;
    }
    header {
        background-color: #6ba3c0;
    }
}

@media screen and (min-width: 1000px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
        background-color: #f5f5f5;
    }
    header {
        background-color: #6ba3c0;
    }
}