
body {
    text-align: left;
    font-size: 22px;
    max-width: 1500px;
}

#content {
    max-width: 60%;
    border: 1px solid darkgrey;
    margin: 15px auto;
    padding: 50px;
}

p{
    color: #035f9c;
    font-size: 18px; 
}
hr {
    height: 3px;
    background-color: #035f9c;
    width: 80%;
    margin-top: 15px;
}
h1, p {
    text-align: center;
    
}
h2 {
    text-align: left;
    font-size: 18px;
    margin-bottom: 20px;
    margin-left: 40px;
    font-weight: normal;
}
h3 {
    text-align: left;
    font-size: 20px;
    margin-left: 40px;
    font-style: italic;
    font-weight: normal;
}

#logos {
    text-align: center;
}
img {
    width: 15%;
    display: block;
    margin: 0 auto;
}
#topics {
    font-size: 18px;
    line-height: 1.5em;
    margin: 0 auto;
    
}
.list {
    list-style-type: none;
    margin-left: 40px;
}
